/backend/target/
/frontend/node_modules/
/frontend/dist/
*.log
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
/infra/.yml
/backend/.env
/backend/**/.env
/.env

/.env.example
/backend/backend_run.log

/infra/docker-compose.yml

.sql